.list {
	@apply mt-1 h-full overflow-auto;

	.typography {
		@apply text-center font-[Montserrat];
	}

	.img {
		@apply h-[20px] w-[20px] mr-[14px] ml-[6px];
	}
}

.openedProcessWrap {
	background-color: transparent;
}

.openedProcessWrap .openedProcess {
	background-color: #d8ecff;
	border-radius: 7px;
}

.openedProcessWrap .openedProcessText {
	color: #1a2d67;
}
