.openedProcessWrap {
	background-color: transparent;
}

.openedProcessWrap .openedProcess {
	background-color: #d8ecff;
	border-radius: 7px;
}

.openedProcessWrap .openedProcessText {
	color: #1a2d67;
}
